@import url('https://fonts.googleapis.com/css?family=Sansita');
main {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    background-image: url(media/sunny-winter.jpg);
    background-size: cover;

}
* {
 box-sizing: border-box; /*  width property
    to total width instead of content width */
}
body {
    margin: 0; /* remove margin from body */
    padding: 0; /* padding */
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
}

footer {
    width: 100%;
    padding: 1em 0 0em 0em;
    background-color: #0E89D5;
}
header {
    background-color: #0e89d5;
}
#character {
    font-size: 3em;
    margin: 0;
}
ul {
    list-style: none;
}
nav ul {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 0;
    margin: 0;
}
nav ul li {
    line-height: 3em;
}
nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: .9em;
    background-color: #0e89d5;
}
nav a {
    text-decoration: none;
    color: #FFF;
}
.site-name {
    padding: .2em;
    font-size: 2.5em;
    font-weight: 600;
}
#page-header {
    display: flex;
    align-items: center;
    width: 100%;
}
.cur_conditions {
    margin: auto;
}
.cur_conditions ul {
    list-style: none;
}
.overview {
    margin: auto; 
    padding: 1em;
}
.overview a {
    font-size: 2em;
}
#listing {
    text-align: left;
    padding-left: 1em;
    padding-right: 1em;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Sansita, "second choice", generic-family;
}
h3 {
    text-align: center
}
h1 {
    color: white;
}
#current_temp {
    
}
section {
    background-color: rgba(200,200,200,.6);
    margin: .2em auto;
    border: 1px solid;
    border-radius: 5px;
}
h3 {
    color: white;
    border-color: black;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul {
    padding: 0;
}
.invisible {
    display: none;
}
.time li {
    list-style-type: none;
}
.temp li {
    list-style-type: none;
}

@media screen and (min-width: 500px) {
    .invisible {
    display: inline-block;
    }
    .overflow_fix {
        height: 200px;
        overflow: auto;
        width: 220px;
        display: flex;
        flex-flow: column wrap;
        align-content: space-around;
}    
    .time {
        text-align: right;
}
    .overview {
        align-self: flex-start;
        text-align: left;
        padding-left: 1em;
        flex: 0 0 100%;
        order: 1;
    }

    .overview {
        order: 3;
    }
    .cur_conditions {
        order: 2;
    }
    .hourly {
        order: 4; 
        
        
    }
    main {
        flex-flow:  wrap;
        align-items: stretch;
        background-image: url("media/raindrops.jpg");
    }
    nav {
        position: initial;
        line-height: .5em;
        font-size: 1em;
        width: 100%;
    }
     .location {
        align-self: flex-start;
        text-align: left;
        padding-left: 1em;
        flex: 0 0 100%;
        order: 1;
    }
    footer {
    order: 5;
}

}