body {
    background-color: white;
}
h1 {
    color: black;
    font-size: 35px;
}
body {
    color: black;
    align-content: center;
}
li {
    list-style: none;
    font-size: 20px;
}
#brand {
    font-size: 3em;
}